<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Consumables</key>
	<dict/>
	<key>Others</key>
	<array>
		<string>fdmembership</string>
	</array>
	<key>SharedSecret</key>
	<string>14f66b3a26074f6280564a36142324bc</string>
</dict>
</plist>
