<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Consumables</key>
	<dict>
		<key>500coins.it.birdcopy.com</key>
		<dict>
			<key>ConsumableCount</key>
			<integer>500</integer>
			<key>ConsumableId</key>
			<string>MyVirtualCurrencyWallet</string>
		</dict>
		<key>2000coins.it.birdcopy.com</key>
		<dict>
			<key>ConsumableCount</key>
			<integer>2000</integer>
			<key>ConsumableId</key>
			<string>MyVirtualCurrencyWallet</string>
		</dict>
		<key>10000coins.it.birdcopy.com</key>
		<dict>
			<key>ConsumableCount</key>
			<integer>10000</integer>
			<key>ConsumableId</key>
			<string>MyVirtualCurrencyWallet</string>
		</dict>
	</dict>
	<key>Others</key>
	<array>
		<string>oneyear.birdcopy.it</string>
	</array>
	<key>SharedSecret</key>
	<string>57de52dc0bcf4b9a8c83678cd72a6927</string>
</dict>
</plist>
