<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Others</key>
	<array>
		<string>birdenglishmembership</string>
	</array>
	<key>SharedSecret</key>
	<string>2d86dceecbfc4fba8f08eade6d1a38c5</string>
</dict>
</plist>
