<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Consumables</key>
	<dict>
		<key>500coin.birdenglish.com</key>
		<dict>
			<key>ConsumableCount</key>
			<integer>500</integer>
			<key>ConsumableId</key>
			<string>MyVirtualCurrencyWallet</string>
		</dict>
		<key>2000coin.birdenglish.com</key>
		<dict>
			<key>ConsumableCount</key>
			<integer>2000</integer>
			<key>ConsumableId</key>
			<string>MyVirtualCurrencyWallet</string>
		</dict>
		<key>10000coint.birdenglish.com</key>
		<dict>
			<key>ConsumableCount</key>
			<integer>10000</integer>
			<key>ConsumableId</key>
			<string>MyVirtualCurrencyWallet</string>
		</dict>
	</dict>
	<key>Others</key>
	<array>
		<string>birdenglishmembership</string>
	</array>
	<key>SharedSecret</key>
	<string>2d86dceecbfc4fba8f08eade6d1a38c5</string>
</dict>
</plist>
